{% extends 'iplapp/main.html' %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="container">
      <h1>Login</h1>
      <hr>
  
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" id="username" required><br>
  
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" id="password" required><br>
    <hr>
  
      <button type="submit" class="registerbtn">Login</button>&nbsp;<a href="{% url 'forgot_email' %}">Forgot Password</a>
    </div>

  </form>
{% endblock %}